# Include the README
include *.md

# Include the license file
include LICENSE.txt

# include the MMS FEEPS sun contamination CSV files
include pyspedas/projects/mms/feeps/sun/*.csv

# include the image of Earth for MMS orbit plots
include pyspedas/projects/mms/mec/*.png

# include elfin calibration data
include pyspedas/projects/elfin/epd/el*_epde_cal_data.txt