numpy>=1.20.0
requests
cdflib>=1.0.0
spacepy
cdasws>=1.7.24
netCDF4
pywavelets
astropy
geopack>=1.0.11
scipy
hapiclient>=0.2.2
viresclient
fsspec
s3fs
aioboto3
pandas
matplotlib>=3.6.2
xarray
sphinx>=1.7.6
sphinx-rtd-theme